html,
body {
    background: #4193ff;
    overflow: hidden;
}

.cloud {
    left: 100px;
    top: 120px;
    width: 300px;
    height: 100px;
    background: #ffffff;
    border-radius: 100px;
    position: absolute;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.cloud::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 150px;
    left: 80px;
    top: -50px;
    border-radius: 200px;
    background: inherit;

}

.cloud::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 170px;
    border-radius: 200px;
    left: 130px;
    top: -100px;
    background: inherit;

}

.cloud.s2 {
    left: 200;
    top: 1000;
    transform: scale(0.5);
    animation-duration: 5s;
}


@keyframes move {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 100%;
    }
}