html,
body {
    background: #000;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-wrap {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #ffffff;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px 15px;
}

.menu>ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.menu ul {
    text-align: center;
}

.menu>ul a {
    display: grid;
    gap: 2px;
    text-align: center;
}


.menu .en {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.menu .tw {
    font-size: 1.2rem;
    font-weight: 600;
}

.menu>ul a:hover {
    color: #0000eb;
}

.page {
    width: 100%;
    height: 100vh;
    align-items: center;
}


#page-1 {
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#page-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000079;
    z-index: 1;
}

#page-1 .page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    z-index: 1;
}

.page-wrap {
    align-items: center;
    position: relative;
    z-index: 1;
}

.page-wrap .page-content {
    background: #1584a0;
    height: 100%;
}

.page-content {
    position: relative;
    align-items: center;
    font-size: 10pt;
}

.slogan {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    border-bottom: 3px solid #ffffff;
    padding: 20px;
    border-image: linear-gradient(to right, #4242ff 30%, #fff 0%) 1;
}
#page-1 .page-content .text {
    line-height: 30px;
    text-align: justify;
}

.slogan2 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    padding: 20px;
    border-bottom: 3px solid #ffffff;
    border-image: linear-gradient(to right, #4242ff 30%, #fff 0%) 1;
    width: auto;
}

.page-content .text {
    position: relative;
    font-size: 0.8rem;
    align-items: center;
    padding: 20px;
}

#page-1 .page-content>div:last-child {
    padding-left: 30px;
}

.form-item {
    margin-bottom: 15px;
    position: relative;
}

.form-item-good {
    height: 40px;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

.form-item label {
    position: absolute;
    color: #535353;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

.form-item-good input {
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #000;
    width: 100%;
    font-size: 1.3rem;
}

#page-1 .page-content>div {
    min-height: 300px;
    position: relative;
}

.form-item-good label {
    color: #535353;
    font-weight: 600;
    font-size: 1.1rem;
}
.form-fn {
    text-align: right;
}
.btn {
    padding: 10px 20px;
    border: 0;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 6px;
    background: #dedede;
    cursor: pointer;
}

.btn.success {
    background: rgb(14, 172, 85);
    color: #fff;
}

.btn.success:hover {
    background: rgb(26, 204, 106);
}
.btn .sucess
.content