#calc-app {
    display: flex;
    width: auto;
    height: auto;
    border: 2px #000;
    
    
}
#result{
    align-items: center;
    display: block;
}
#keyboard {
    align-items: center;  
    display: grid;
    grid-template-columns: auto;
    width: 200px;
    height: 300px;
    background: #e7a7a7;
    border: rgb(45, 21, 21);
    text-align: center;
    


}