.spring{
    width: 100px;
    height:100px;
    background: red;
    transform: rotate(135deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    
    
    
}
.spring span{
    transform: rotate(135deg);
    text-align: center;
    color: rgb(255, 255, 255)
}